In [3]:
#intro to databases
import sqlite3
conn=sqlite3.connect("my_db.db")
print("connected")
conn.close()
print("closed")

connected
closed

In [5]:
#creating table
import sqlite3
conn=sqlite3.connect("my_db.db")
conn.execute('''CREATE TABLE Employee_Records(ID INT PRIMARY KEY NOT NULL,NAME TEXT NOT NULL,DIVISION TEXT NOT NULL,RATING INT NOT NULL)''')
print("table created")
conn.close()
print("database closed")

table created
database closed

In [8]:
#inserting in a database
import sqlite3
conn=sqlite3.connect("my_db.db")

conn.execute('''INSERT INTO Employee_Records(ID,NAME,DIVISION,RATING)Values(2,"ankit","DS",4)''')
conn.execute('''INSERT INTO Employee_Records(ID,NAME,DIVISION,RATING)Values(3,"kshitiz","DS",3)''')
conn.execute('''INSERT INTO Employee_Records(ID,NAME,DIVISION,RATING)Values(4,"akshay","DS",2)''')

conn.commit()
print("data added")
conn.close()
print("database closed")

data added
database closed

In [10]:
#deleting a record from db
import sqlite3
conn=sqlite3.connect("my_db.db")
conn.execute('''DELETE FROM Employee_Records where ID=4''')
conn.commit()
print("record deleted")
conn.close()
print("database closed")

record deleted
database closed

In [12]:
#deleting using a function
import sqlite3
conn=sqlite3.connect("my_db.db")
def delete():
    conn.execute('''DELETE FROM Employee_Records where ID=3''')
    conn.commit()
    print("record deleted")
delete()
conn.close()
print("database closed")

record deleted
database closed

In [15]:
#inserting using a function
import sqlite3
conn=sqlite3.connect("my_db.db")
def insert(ID,NAME,DIVISION,RATING):
    conn.execute('''INSERT INTO Employee_Records(ID,NAME,DIVISION,RATING)VALUES(?,?,?,?)''',(ID,NAME,DIVISION,RATING))
    conn.commit()
    print("record inserted")
insert(3,"kshitiz","project manager",4)
conn.close()
print("database closed")

record inserted
database closed

In [19]:
#reading data from database
import sqlite3
conn=sqlite3.connect("my_db.db")
def read():
    fetch=conn.execute('''SELECT ID,NAME,DIVISION,RATING FROM Employee_Records''')
    for records in fetch:
        print("id:",records[0])
        print("NAME:",records[1])
        print("DIVISION:",records[2])
        print("RATING:",records[3])
        print("\n")
read()
conn.close()
print("database closed")

id: 1
NAME: rajat
DIVISION: DS
RATING: 5


id: 2
NAME: ankit
DIVISION: DS
RATING: 4


id: 3
NAME: kshitiz
DIVISION: project manager
RATING: 4


database closed

In [21]:
#updating data in a database
import sqlite3
conn=sqlite3.connect("my_db.db")
def update():
    conn.execute('''UPDATE Employee_Records SET DIVISION="B.A.T" WHERE ID=3''')
    conn.commit()
    print("record updated")
update()
conn.close()
print("database closed")

record updated
database closed